<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Come On In</span>
                        <span class="section-heading-lower">Admin Account Space</span>
                    </h2>

                  <div class="row">
                    <div class="col-10"></div>
                    <button  class="col-2 btn btn-primary" (click)= OnCreate() >{{msgBtn}} </button>
                  </div>
                  <form [formGroup]="addForm" (ngSubmit)="addAccount()" *ngIf = "x">
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                      <li class="list-unstyled-item list-hours-item d-flex">
                        UserName
                        <span class="ms-auto">
                                     <input formControlName="username" type="text" class="form-control" placeholder="Enter username">
                                </span>
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex">
                        Mail
                        <span class="ms-auto">
                                     <input formControlName="email" type="text" class="form-control" placeholder="Enter mail">
                                </span>
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex">
                        Password
                        <span class="ms-auto">
                                     <input formControlName="password" type="password" class="form-control" placeholder="Enter password">
                                </span>
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex">
                        FirstName
                        <span class="ms-auto">
                                     <input formControlName="firstName" type="text" class="form-control" placeholder="Enter firstname">
                                </span>
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex">
                        LastName
                        <span class="ms-auto">
                                     <input formControlName="lastName" type="text" class="form-control" placeholder="Enter lastname">
                                </span>
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex">
                        Phone Number
                        <span class="ms-auto">
                             <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Enter phone">
                        </span>
                      </li>
                      <li align="center" class="list-unstyled-item list-hours-item d-flex">
                        <div class="form-check form-switch" >
                          <input formControlName="superUser" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault"> Super User </label>
                        </div>
                      </li>
                    </ul>
                    <input class="btn btn-primary  " [disabled]="addForm.invalid"  type="submit"  value="Submit"/>
                  </form>
                  <div class="row">
                    <div class="col-10">
                    <table class="table mb-5 text-left mx-auto">
                        <thead>
                          <tr class="inline-table d-flex">
                            <th class="col-md-3" >Username</th>
                            <th class="col-md-3">Email</th>
                            <th class="col-md-2">FirstName</th>
                            <th class="col-md-2">LastName</th>
                            <th class="col-md-2">Phone Number</th>
                            <th class="col-md-2"></th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr class="inline-table d-flex" *ngFor="let acc of accounts" >
                            <td class="col-md-3">{{acc.username}}</td>
                            <td class="col-md-3">{{acc.email}}</td>
                            <td class="col-md-2">{{acc.firstName}}</td>
                            <td class="col-md-2">{{acc.lastName}}</td>
                            <td class="col-md-2">{{acc.phoneNumber}}</td>
                             <td  class="col-md-3">
                               <div  style="display: inline-table;" class="intro-button mx-auto">
                                 <button class="btn btn-primary" (click)= OnUpdate(acc)>
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                     <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                     <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                   </svg>
                                 </button>
                               </div>
                               <div style="display: inline-table;" class="intro-button mx-auto">
                                 <button class="btn btn-primary " (click)= OnDelete(acc)>
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                     <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                     <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                   </svg>
                                 </button>
                               </div>
                             </td>
                          </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
